@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Neucha&family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure{
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

a{
    text-decoration: none;
}

.circulos{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.circulos__circulo{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter:blur(7em)
}

.circulos__circulo--azul{
    background-color: #00EFFF;
    top: -10%;
}

.circulos__circulo--verde{
    background-color: #00FF57;
    left: 35%;
    top: 90%;
}

.circulos__circulo--morado{
    background-color: #9E00FF;
    right: -5%;
    top: 30%;
}

.full{
    /* background-image: url(../img/imagen-fondo.png);
    background-size: cover; */
    /* background-color: #091d35; */
    background-color: #0d1928;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}



header{
    width: 100%;
    top: 0;
    height: 55px;
    position: fixed;
    color: #fff;
    z-index: 2;
}

.scroll_web{
    background-color:#0d1928 ;
    border-bottom: none;
}

.header__logo{
    display: flex;
    position: absolute;
    margin-left: 20px;
    float: left;
    z-index: 3;
    font-family: 'Comforter';
    margin-top: 0.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.7rem;
}

.header__nav{
    display: inline-block;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 50px;
    z-index: 0;
}

.icon-menu{
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
    margin: 0.5rem 0.8rem;
    color: white;
    float: right;
    right: 0px;
    border-radius: 5px;
}

.header__ul{
    width: 100%;
    height: 100vh;
    margin-top: 55px;
    transform: translateX(100%);
    background-color: #091d35; 
    transition: 0.5s;
}

.aparecer{
    transform: translateX(0%)
}

.header__li{
    list-style: none;
    padding: 1.3rem;
    border-bottom: 1px solid white;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.header__li:hover{
    background-color: rgba(255, 255, 255, 0.103);
}


#primero{
    border-top: 1px solid white;
}

main{
    position: relative;
    padding-top: 55px;
    z-index: 1;
}

.hero__h2{
    color: white;
    font-size: 1.8rem;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 2.8rem;
}

.negrita{
    font-weight: 600;
}

.subtitulo{
    font-size: 1.1rem;
}

.hero__contacto{
    margin-bottom: 2rem;
}

.hero__textocontacto{
    /* font-family: 'Neucha'; */
    color: #fff;
    font-size: 1.3rem; 
    margin-bottom: 2rem;
    text-align: center;
}

.hero__botoncontacto{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.163);
    border: 2px solid white;
    box-shadow: 5px 10px 15px #040e2d7d;
    transition: 0.1s;
    padding: 0.5rem;
    padding-top: 1.1rem;
    margin: auto;
}

.hero__botoncontacto:hover{
    box-shadow: none;
    background-color: #ffffff22;
}

.hero__botoncontacto img{
    width: 60%;
    display: flex;
    margin: auto;
}

.hero__flecha{
    display: none;
}

.hero__img{
    display: flex;
    justify-content: center;
}

.hero__img img{
    width: 300px;
}

.hero__rrss{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero__rrss img{
    width: 20px;
    cursor: pointer;
}

.hero__cajaiconos{
    display: flex;
}

.hero__rrss a{
    margin: 20px;
}

.hero__rrss img:hover{
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.623));
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.644));
}

.servicios{
    color: white;
    padding-bottom: 3rem;
}

.servicios__titulo{
    text-align: center;
    font-size: 1.7rem;
    padding: 1.2rem;
    font-weight: 600;
}

.servicios__container{
    display: grid;
    column-gap: 0.8em;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 90%;
    max-width: 350px;
    margin: auto;
}

.servicios__card{
    background: rgba(255, 255, 255, 0.025);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    height: 0;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 105%;
    position: relative;
    cursor: pointer;
    list-style: none;
}

.servicios__cardcontent{
    width: 85%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.servicios__h3{
    width: 100%;
    text-align: center;
    font-weight: 400;
    padding: 1rem 0rem;
}

.servicios__img{
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
}

.servicios__img img{
    margin: auto;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(18, 16, 36, 0.8));
    filter: drop-shadow(0px 0px 10px rgba(18, 16, 36, 0.8));
}

.servicios__cardhover{
    width: 100%;
    font-size: 1rem;
    transition: 0.6s;
    transform: translateY(80%);
    opacity: 0;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 2rem;
    margin-top: 1.5rem;
}

.servicios__ul{
    border-top: solid 2px #fff;
}

.servicios__li{
    list-style: inside;
    padding: .2rem;
}

.servicios__button{
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
    font-family: inherit;
    margin-top: 1rem;
}

.servicios__button:hover{
    background-color: rgba(255, 255, 255, 0.63);
}

.servicios__card:hover .servicios__cardhover{
    transform: translateY(0px);
    opacity: 1;
    
}

.servicios__card:hover .servicios__cardcontent{
    opacity: 0;
    transition: 0.5s;
}

.sobremi{
    color: white;
    display:inline-block;
    justify-content: center;
    background-color: #0000003c;
    padding-bottom: 1rem;

}

.sobremi__container{
    width: 90%;
    margin: auto;
}

.sobremi__titulo{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: .7rem;
    font-weight: 600;
}

.sobremi__imagen{
    max-width: 300px;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.sobremi__texto{
    font-size: 0.8rem;
    text-align: center;
}

footer{
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.footer__rrss{
    width: 100%;
}

.footer__cajaiconos{
    display: flex;
    justify-content: center;
}

.footer__rrss img{
    width: 20px;
    margin: 20px;
    cursor: pointer;
}

.footer__rrss img:hover{
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.623));
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.644));
}

.footer__correo{
    color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer__correo img{
    width: 20px;
    margin-right: 0.6rem;
}

@media screen and (min-width: 960px){
    .circulos__circulo{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        filter:blur(11em)
    }

    .header{
        height: 90px;
        padding-top: 0.65rem;
    }

    .icon-menu{
        display: none;
        padding: 0.6rem;
    }

    .header__logo{
        float: left;
        margin-left: 2.5em;
        margin-top: 0.4rem;
        font-size: 2.5rem;
    }

    .header__nav{
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        height: 80px;
        right: 0;
        padding: 15px;
    }

    .header__ul{
        transform: translateX(0%);
        margin-top: 0px;
        height: 2.4rem;
        width: 34rem;
        background-color: rgba(255, 255, 255, 0);
        align-items: center;
        margin-right: 100px;
        display: flex;
        justify-content:space-around;
    }

    .header__li{
        border-bottom: none;
        display: inline-block;
        padding: 0rem;
        position: relative;
    }

    .header__li::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: white;
        transition: width 0.25s ease-out;
    }

    .header__li--activo::before{
        width: 1.4rem;
    }

    .header__li:hover{
        background-color: rgba(255, 255, 255, 0);
    }

    .header__li:hover::before{
        width: 1.4rem;
    }

    .header__li--download{
        padding: 1rem;
        border-radius: 0.8rem;
        border: solid 2px white;
        box-shadow: 5px 10px 15px #040e2d7d;
        transition: 0.1s;
    }

    .header__li--download:hover{
        background-color: #ffffff22;
        box-shadow: none;
    }

    .header__li--download:hover::before{
        width: 0rem;
    }

    #primero{
        border-top: none;
    }

    main{
        padding-top: 5rem;
    }

    .hero{
        display: flex;
        position: relative;
    }

    .hero__info{
        width: 50%;
        margin-top: 5rem;
        padding-top: 4rem;
        margin-bottom: 5rem;
        padding-bottom: 2rem;
        padding-left: 4rem;
        background-color: rgba(184, 184, 184, 0.027);
        border-radius: 0px 80px 80px 0px;
    }

    .hero__h2{
        font-size: 3.5rem;
        line-height: 4.5rem;
        padding: 0rem;
        padding-right: 3rem;
        text-align: left;
    }
    
    .subtitulo{
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    
    .hero__contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-right: 4rem;
        margin-bottom: 0rem;
    }


    .hero__textocontacto{
        font-size: 1.5rem;
        border-radius: 14px;
        margin: 0;
    }

    .hero__flecha{
        display: flex;
        width: 5rem;
        height: 3rem;
        margin: 2rem;
    }

    .hero__botoncontacto{
        width: 6rem;
        height: 6rem;
        padding-top: 1.5rem;
    }

    .hero__img{
        width: 40%;
    }
    .hero__img img{
        width: 100%;
        object-fit:contain;
    }

    .hero__rrss{
        width: 10%;
        padding-right: 3rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .hero__cajaiconos{
        display: block;
        height: auto;
    }

    .hero__rrss img{
        width: 25px;
        height: 25px;
        margin: 15px;
    }

    .servicios{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .servicios__titulo{
        text-align: left;
        margin-left: 4rem;
        font-size: 4rem;
        padding: 2rem;
        font-weight: 700;
    }

    .servicios__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        width: 90%;
        max-width: none;
    }

    .servicios__card{
        padding-bottom: 120%;
    }

    .servicios__cardhover{
        margin-top: 2.5rem;
    }

    .servicios__h3{
        padding: 2rem 0rem 1rem 0rem;
        font-size: 1.5rem;
    }

    
    .servicios__img{
        padding: 0rem;
    }
    
    .servicios__cardhover{
        margin-top: 3rem;
    }

    .servicios__li{
        padding: .5rem;
    }


    .sobremi__container{
        display: flex;
        position: relative;
    }

    .sobremi__cajatextos{
        width: 70%;
    }

    .sobremi__titulo{
        text-align: left;
        margin-left: 2rem;
        font-size: 4rem;
        padding: 2rem;
        font-weight: 700;
    }

    .sobremi__texto{
        font-size: 1rem;
        text-align: left;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .sobremi__imagen{
        width: 30%;
        max-width: max-content;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .sobremi__imagen img{
        width: auto;
        max-height:max-content;
    }

    .footer{
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        width: 80%;
        margin: auto;
    }

    .footer__rrss{
        width: 40%;
    }

    .footer__rrss img{
        width: 30px;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .footer__correo{
        width: 40%;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1124px){
    .servicios__cardhover{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1328px){
    .servicios__container{
        width: 70%;
    }
}


/********************PORTFOLIO*********************/

.portfolio__titulo{
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 4rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

.galeria{
    display: grid;
    column-gap: 0.8em;
    grid-template-columns: 1fr;
    row-gap: 0.8em;
    width: 95%;
    margin: auto;
}

.galeria__img{
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.galeria__img img{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s;
}

.galeria__img:hover img{
    transform: scale(1.2);
}

.galeria__imghover{
    color: white;
    position: absolute;
    z-index: 3;
    font-size: 2rem;
    display: flex;
    opacity: 0;
    font-weight: 600;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(99, 106, 112, 0.747);
    transition: 0.5s;
}

.galeria__imghover p{
    padding: 2rem;
    display: flex;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-end;
    text-shadow: 0px 0px 50px rgba(0,26,65,1);
}

.galeria__img:hover .galeria__imghover{
    display: flex;
    opacity: 1;
    transition: 0.5s;
}


@media screen and (min-width: 960px){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        width: 70%;
    }

    .galeria__imghover{
        font-size: 2.5rem;
    }

    .galeria__img img{
        height: 100%;
        object-fit: cover;
    }

    .galeria__img--caja1{
        grid-row: 1/3;
    }

    .galeria__img--caja7{
        grid-column: 2/4;
        padding-top: 50%;
    }


}

/***************PROYECTO*************/


.textoportfolio{
    color: white;
    text-align: center;
    font-size: 2em;
    padding: .3rem;
} 


.proyecto__botonatras{
    color: white;
    position: fixed;
    margin-left: 2rem;
    background-color: rgba(0, 0, 0, 0.321);
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    padding: 0.3rem;
    font-size: 1em;
    cursor: pointer;
    margin-top: .6rem;
}

.proyecto__botonatras:hover{
    background-color: rgba(83, 83, 83, 0.321);
}

.proyecto__textoatras{
    display: none;
}

.proyecto__info{
    color: white;
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.04);
    max-width: 600px;
}

.proyecto__titulo{
    font-size: 2rem;
    font-weight: 600;
}

.proyecto__textoinfo{
    font-size: 0.8rem;
}

.proyecto__galeria{
    display: grid;
    column-gap: 0.8em;
    grid-template-columns: 1fr;
    row-gap: 0.8em;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    max-width: 600px;
}

.proyecto__cajaimagen{
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
}

.proyecto__cajaimagen img{
    width: 100%;
}

.capaModal {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: rgb(18, 18, 18);
    top: 0px;
    left: 0px;
    display: none;
}

.cajaimgmodal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cajaimgmodal img{
    object-fit: contain;
}

#imgModal {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}



.btnCerrar {
    position: absolute;
    z-index: 999;
    right: 10px;
    margin-top: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.icon-cancel{
    font-size: 1.5rem;
    background-color: rgb(195, 42, 42);
    border: solid 2px rgb(255, 255, 255);
    padding: 4px 0px;
    border-radius: 7px;
}

.icon-cancel:hover{
    background-color: rgb(223, 86, 86);
}

.mostrar {
    display: block;
}

.ocultarcontainer{
    display: none;
}

@media screen and (min-width: 960px) {
    .proyecto{
        margin-top: 1.5rem;
    }
    
    .textoportfolio{
        display: none;
    }

    .proyecto__titulo{
        font-size: 3.5rem;
    }

    .proyecto__textoinfo{
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    .proyecto__botonatras{
        color: white;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.321);
        margin-left: 2rem;
        border: 2px solid white;
        border-radius: 10px;
        text-decoration: none;
        display: flex;
        padding: 0.5rem 1rem;
    }
    
    .icon-left{
        position: static;
        background-color:transparent;
        padding: 0rem;
        margin-left: 0rem;
        border: none;
        border-radius: none;
    }

    .proyecto__botonatras p{
        display: block;
        padding-left: 0.5rem;
    }

    .btnCerrar {
        right: 50px;
    }
}

/****************CONTACTO*****************/

.contacto__titulo{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.contacto__form{
    padding: 1em;
    max-width: 700px;
    margin: auto;
}

.contacto__input{
    font: inherit;
    height: 2.5rem;
    color: #fff;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 8px;
    border: solid 2px rgb(222, 222, 222);
    background-color: rgba(255, 255, 255, 0.041);
}

.contacto__form p{
    color: white;
    margin-bottom: 0.5rem;
}

.contacto__input--mensaje{
    padding-bottom: 7em;
}

.contacto__cajasubmit{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto__submit{
    width: 86px;
    height: 43px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.17);
    color: white;
    font-family: inherit;
    position: relative;
}

.contacto__submit:hover{
    background-color: #ffffff30;
}

@media screen and (min-width: 960px){
    .contacto__titulo{
        font-size: 4rem;
    }

    .contacto__input{
        height: 3rem;
    }
    
    .contacto__submit{
        width: 100px;
        height: 50px;
        border-radius: 15px;
        font-size: 1rem;
    }
}


/*********************FONTELLO*******************/

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?34932671');
    src: url('../font/fontello.eot?34932671#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2?34932671') format('woff2'),
         url('../font/fontello.woff?34932671') format('woff'),
         url('../font/fontello.ttf?34932671') format('truetype'),
         url('../font/fontello.svg?34932671#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?34932671#fontello') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak-as: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-left:before { content: '\e800'; } /* '' */
  .icon-cancel:before { content: '\e802'; } /* '' */
  .icon-down:before { content: '\e803'; } /* '' */
  .icon-right:before { content: '\e804'; } /* '' */
  .icon-up:before { content: '\e805'; } /* '' */
  .icon-menu:before { content: '\f008'; } /* '' */

