.textoportfolio{
    color: var(--negro);
    text-align: center;
    font-size: 2em;
    padding: .6rem;
} 


.proyecto__botonatras{
    color: var(--negro);
    position: fixed;
    margin-left: 1.5rem;
    border: 2px solid var(--negro);
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    padding: .5rem .4rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: .5rem;
    transition: 0.15s;
    
}

.proyecto__botonatras:hover{
    background-color: var(--azul);
    border: 2px solid var(--azul);
    color: rgb(243, 246, 248);
}

.proyecto__textoatras{
    display: none;
}

.proyecto__info{
    color: var(--negro);
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    text-align: center;
    background-color: #43578e10;
    max-width: 600px;
}

.proyecto__titulo{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

.proyecto__textoinfo{
    font-size: 0.8em;
}

.proyecto__galeria{
    display: grid;
    column-gap: 0.8rem;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    max-width: 600px;
}

.proyecto__cajaimagen{
    width: 100%;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.proyecto__cajaimagen img{
    width: 100%;
}

.capaModal {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: rgb(18, 18, 18);
    top: 0px;
    left: 0px;
    display: none;
}

.cajaimgmodal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cajaimgmodal img{
    object-fit: contain;
}

#imgModal {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.btnCerrar {
    position: absolute;
    z-index: 999;
    right: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color: white;
}

.icon-cancel{
    font-size: 24px;
    background-color: rgb(195, 42, 42);
    padding: 4px 0px;
    border-radius: 5px;
}

.icon-cancel:hover{
    background-color: rgb(223, 86, 86);
}

.mostrar {
    display: block;
}

.ocultarcontainer{
    display: none;
}

@media screen and (min-width: 960px) {
    .textoportfolio{
        display: none;
    }

    .proyecto__titulo{
        font-size: 3.5em;
    }

    .proyecto__textoinfo{
        font-size: 1em;
        padding-bottom: 0.5rem;
    }

    .proyecto__botonatras{
        padding: 0.5rem 1rem;
    }
    
    .icon-left{
        position: static;
        background-color:transparent;
        padding: 0rem;
        margin-left: 0rem;
        border: none;
        border-radius: none;
    }

    .proyecto__botonatras p{
        display: block;
        padding-left: 0.5rem;
    }

    .btnCerrar {
        right: 50px;
    }
}